#top-artists-albums-card {
    height: 700px;
  }

.top-items-title {  /* top artists and top albums titles */
  color: var(--whiteColor);
  font-size: 1.8rem;
  width: calc(100%);
}

.top-artists-albums-container{
  display: flex;
  justify-content: space-between;
  margin: 0 var(--sideMargin);
  }
  
.top-items-list{
  justify-content: space-between;
  max-width: 600px;
  height: 595px;
  overflow-y:auto;  /* scrolling */
  }
.top-items-list img{
  height: 48px;
  width: 48px;
}
  
.playlist-top-items-listing { 
  height: 52px;
  color:var(--page-text-color);
  font-size: 1.3rem;
  max-width: 100%;
}

.playlist-top-items-listing td {   /* text overflow */
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-top-items-image{
  min-width: 55px;
}
.playlist-top-items-image img{
  margin: auto;
  vertical-align: middle;
}
.playlist-artist-cover{ /* make artist image rounded */
  border-radius: 50%;
}
.item-occurences{
  text-align: right;
}

.playlist-top-items-rank{
  font-size: 1.2rem;
  min-width: 28px;
  text-align: center;
}
  
@media (max-width: 1000px) { /* Adjust for smaller screens */
  .playlist-top-items-listing{
      font-size: 1.1rem;
  }
  .item-occurences{/* ensure # of songs can is visible */
    min-width: 45px;
  }
}

  
@media (max-width: 800px) { /* Adjust for smaller screens */
  #top-artists-albums-card{
    height: 675px;
  }
  .top-items-title{
      font-size: 1.4rem;
  }
  .playlist-top-items-listing{
      height: 45px;
      font-size: 1.1rem;
  }
  .playlist-top-items-rank{
      min-width: 20px;
      max-width: 20px;
      font-size: 0.95rem;
  }
  .top-items-list img{
      width: 42px;
      height: 42px;
  }
  .playlist-top-items-image{
      min-width: 45px;
      max-width: 45px;
    }

}
@media (max-width: 680px) { /* Adjust for smaller screens */
  #top-artists-albums-card {
    height: 845px;
  }
  .top-artists-albums-container{
    /* stack lists on each other when not enough space for side by side */
      flex-wrap: wrap;
  }
  .playlist-top-items-listing{
      font-size: 1.2rem;
  }
  .playlist-top-items-rank{
      font-size:  1rem;
  }
  .top-items-list{
    /* make lists smaller when stacked on each other */
    height: 360px;
  }

}
@media (max-width: 400px) { /* Adjust for smaller screens */
  .playlist-top-items-listing{
      font-size: 1rem;
  }
  .playlist-top-items-rank{
      font-size:  0.9rem;
  }
  .top-items-list img{
    width: 38px;
    height: 38px;
  }
}