.artistList{ 
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gap-size);
    width: calc((var(--artist-Listing-width) * 2 + var(--gap-size)));
    min-width: 500px;
    
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid blue; */
    --gap-size: 10px;
    --artist-Listing-width: max(27vw, 250px)
}

.artistCover{ 
    min-height: 28px;
    min-width:28px;
    height: 5vw;
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
    float: left;
    border-radius: 50%;
}

.artistRank{
    max-width: 3vw;
    text-align: center;
    font-size: 2rem;
    /* outline: 2px solid brown; */
}

.artistName {
    font-size: 1.9rem;
    width: 100%;
    max-width: 0;
    overflow: hidden;
  white-space: nowrap; /* Keeps the text on a single line */
  text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}


.artistTableLeft, .artistTableRight{
    justify-content: center;
    align-items: center;
    max-width: var(--artist-Listing-width);
    width:var(--artist-Listing-width);
    outline: solid 2px red;
    overflow: hidden;
    white-space: nowrap; /* Keeps the text on a single line */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
    min-width: 250px;
}

@media (max-width: 520px) {
    .artistList {
        gap: 0; /* Remove gaps for small screens */
        max-width: 100%
    }
    .artistTableLeft, .artistTableRight{
        min-width: 50%;
    }
    .artistName{
        font-size: 1.5rem;
    }
}


.artistTableLeft col:nth-child(1), .artistTableRight col:nth-child(1){
    min-width: 55px;
}