.artistList{ 
    margin-top: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid blue; */
}

.artistList div{
    float: left;
}
.artistList div:nth-child(1){
    margin-left: 50px;
    margin-right: 50px;
}
/* text overflow, dont do overflow on artist rank or artist image*/
.artistTable td:not(:nth-child(1)):not(:nth-child(2)) {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* outline: solid 2px red; */
}

.artistCover{  /* makes image rounded */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.artistRank{
    width: 50px;
    text-align: center;
    font-size: 35px;
}

.artistName {
    font-size: 30px;
}

