.card-container{
  --sideMargin: 40px;
  --whiteColor: #F2F4F7;
  --grayColor: #b3b7bd;
  --blueColor: #279AF1;
  --greenColor: #23CE6B;

  --topItemsContainerWidth: 10;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 80vw;
  max-width: 1100px;
  display: block;
}

.card-title{
  position: relative;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  margin-left: var(--sideMargin);
  margin-top: 20px;
  color: var(--whiteColor);
  font-size: 32px;  
}
.by-owner a{  /* playlist owner hyperlink */
  position: relative;
  top:-15px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  margin-left: var(--sideMargin);
  text-decoration: none;
  font-size: 14px;
  color:var(--grayColor);
}
.by-owner a:hover{
  color: skyblue;
}
.playlist-card {  
  overflow:hidden;
  background-color: #2F374C;
  border-radius: 20px;
  font-size: 0;
}

.playlist-card:not(:first-child){
  margin-top: 50px;
}
.summary-container{
  /* outline: solid 2px blue; */
  display: flex;
  flex-wrap: nowrap;
  gap: 5%;
  min-width: 0; 
}

.more-info{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1 0 auto;
  text-align: left;
  align-content: center;
  float: left;
  /* outline: 2px solid blueviolet; */
  font-size: 2rem; 
  color: var(--whiteColor);
}

.more-info span{
  display: inherit;
}
.more-info span span {
  margin: 12.5px 0;
  font-weight: bold;
  font-size: 2rem;
  color: var(--blueColor);
  display: inline-block;  
}
 
#summary-card{
  height: 600px;
}
#summary-card img {
  --coverSize: 460px;
  margin-left: var(--sideMargin);
  height: var(--coverSize);
  width: var(--coverSize);
}


#top-artists-albums-card {
  height: 800px;
}

#genre-chart-card{
  height: 840px;
}

/* top artists and albums card container */
.top-items-container{
  width: 100%;
  height: 695px;
  display: inline-block;
}



.top-items-title-container{ /* top artists and top albums titles container */
  display: inline-block;
  width: 100%;
  outline:2px solid blue;
}
.top-items-title-container h1 {  /* top artists and top albums titles */
  color: var(--whiteColor);
  font-size: 2rem;
  width: calc(50% - 2*var(--sideMargin));
}

.top-items-title-container h1:first-child { /* top artists*/
  margin-left: var(--sideMargin);
  float: left;
}

.top-items-title-container h1:last-child { /* top albums*/
  margin-right: var(--sideMargin);
  float: right;
}





.top-artists{
  outline: 2px solid green;
  float: left;
  display: block;
  margin-left: var(--sideMargin);
  
  height: 695px;
  width: calc(50% - 2*var(--sideMargin));
  overflow-y:auto;  /* scrolling */
}

.top-albums{
  outline: 2px solid green;
  float: right;
  display: block;
  margin-right: var(--sideMargin);
  height: 695px;
  width: calc(50% - 2*var(--sideMargin));
  overflow-y:auto;  /* scrolling */
}

.top-items-container img{
  height: 50px;
  width: 50px;
}

.playlist-top-items-listing { 
  display:table;
  height: 50px;
  color:var(--page-text-color);
  font-size: 24px;
  max-width: calc(100%);
}

.playlist-top-items-listing td {
 max-width: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.playlist-artist-image{  /* image */
  display:table-cell;
  vertical-align:middle;
  text-align: center;
}

.playlist-album-image img{
  margin: auto;
  vertical-align: middle; 
  display: inline-block;
}
.item-occurences{
  text-align: right;
}



