:root {
	--page-height: 100vh;
	--page-width: 100vw;
	--page-margin: 0;
	--page-padding: 0;
	--page-font-family: Tahoma, sans-serif;
	--page-text-color: #8e9196;
	--page-text-color-hover: rgba(255,255,255,1.0);
	--page-background-color: #1F2633;
	--tab-display: grid;
	--tab-background-color: rgba(255, 255, 255, 0.03);
	--display-none: none;
	--box-sizing: border-box; 
}

html,
body {
	height: 100%; width: 100%;	
	font-family: var(--page-font-family);
	color: var(--page-text-color);
	background-color: var(--page-background-color);
}

