:root {
	--page-height: 100vh;
	--page-width: 100vw;
	--page-margin: 0;
	--page-padding: 0;
	--page-font-family: Tahoma, sans-serif;
	--page-text-color: #8e9196;
	--page-text-color-hover: rgba(255,255,255,1.0);
	--page-background-color: #1F2633;
	/* --page-background-color: #171C26; */
	--tab-display: grid;
	--tab-background-color: rgba(255, 255, 255, 0.03);
	--display-none: none;
	--box-sizing: border-box; 

	--whiteColor: #F2F4F7;
	--grayColor: #b3b7bd;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background:var(--page-background-color); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #555c66; 
  border-radius: 10px;
}

.page-title{
	color: var(--whiteColor);
	text-align: center;
	font-size: 40px;
	font-weight: normal;
}


html,
body {
	height: 100%; width: 100%;	
	font-family: var(--page-font-family);
	color: var(--page-text-color);
	background-color: var(--page-background-color);
}



